$font: 'Poppins', sans-serif;

/* Default
-------------------------------------------------- */

body {
  font-family: $font;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
}

/* Text
-------------------------------------------------- */

.title-1 {
  font-size: 50px;
  font-weight: 600;
}

p + p {
  margin-top: 20px;
}

/* Forms
-------------------------------------------------- */

.form-field {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  color: #fff;
  background-color: transparent;
  border: 1px #fff solid;

  @at-root {
    textarea#{&} {
      height: 120px;
      padding: 10px;
    }
  }
}

/* Button
-------------------------------------------------- */

.button {
  height: 40px;
  padding: 0 40px;
  background-color: #fff;
  color: #000;
  font-family: $font;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  transition: 0.2s;

  &.button-full {
    width: 100%;
  }

  &:hover {
    background-color: rgb(218, 218, 218);
  }
}

/* Icon
-------------------------------------------------- */

.icon-right {
  margin-left: 5px;
}

.icon-left {
  margin-right: 5px;
}

/* Image
-------------------------------------------------- */

.image {

  &-responsive {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &-full {
    width: 100%;
    height: auto;
    display: block;
  }

  &-center {
    margin: 0 auto;
    display: block;
  }
}

/* Table
-------------------------------------------------- */

.table {
  width: 100%;

  tr {
    border: 1px #ddd solid;
  }

  td,
  th {
    padding: 10px;
  }
}

/* Pagination
-------------------------------------------------- */

.pagination {

  a {
    background-color: #01588a;
    color: #fff;
    padding: 8px 12px;
  }

  span {
    padding: 8px 12px;
  }
}

/* Map
-------------------------------------------------- */

.map {
  width: 100%;
  height: 350px;
  display: block;
}

/* Selection
-------------------------------------------------- */

::selection {
  background-color: #000;
  color: #fff;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Responsive Emped
-------------------------------------------------- */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}

/* List
-------------------------------------------------- */

.list {
  display: flex;
  flex-wrap: wrap;

  .slick-track {
    display: flex !important;
  }
  
  .slick-slide {
    height: inherit !important;
  }

  &-item {
    display: flex; 
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &-content-top {
    flex: 1 0 auto;
  }
}

/* Extras
-------------------------------------------------- */

.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.relative {
  position: relative;
}

h1, h2, h3 {
  overflow-wrap: normal !important;
}



/* Colors
-------------------------------------------------- */

.bg-black {
  background-color: #000;
}

.bg-dark-white {
  background-color: rgb(248, 248, 248);
}

/* Produtos
-------------------------------------------------- */

.header {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.home-title {
  h1 {
      font-size: 64px;
      font-weight: 400;
  }
  h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 300;
  }
  @media only screen and(max-width:750px){
      h1 {
          font-size: 40px;
      }
      h2 {
          font-size: 20px;
      }
  }
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &-title {
      max-width: 400px;

      h2 {
          font-size: 40px;
          font-weight: 400;
      }
      p {
          font-size: 20px;
          font-weight: 300;
      }
      @media only screen and(max-width:750px){
          h2 {
              font-size: 36px;
          }
          p {
              font-size: 16px;
          }
      }
  }
  &-image img {
      width: 300px;
      border-radius: 50%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      transition: 0.2s;

      &:hover {
          transform: scale(1.05);
      }
  }
  @media only screen and(max-width:1200px){
      gap: 60px;
      justify-content: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  svg {
      fill: white;
      width: 20px;
  }
}

.services {
  height: 350px;
  border-radius: 30px;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
}

.services-one {
  height: 740px;
}

@media only screen and (max-width:1000px) {
  .services-one {
      height: 350px;
  }
}
